@define-color bg_main #1d1f21;
@define-color bg_active #de935f;
@define-color fg_main #c5c8c6;
@define-color red #cc6666;
@define-color yellow #f0c674;
@define-color green #9ec400;
@define-color orange #de935f;
@define-color blue #81a2be;
@define-color cyan #70c0ba;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome,'symbols nerd font mono',"M Plus Code Latin", "Bricolage Grotesque", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @bg_main;
  color: @fg_main;
}

window#waybar.hidden {
  opacity: 0.2;
}

#taskbar {
  background-color: @bg_main;
}

#taskbar button {
  /* min-width: 50px; */
  margin-left: 2px;
  margin-right: 2px;
  /* padding-left: 2px;
  padding-right: 2px; */
}

#taskbar button.active {
  border-bottom: 4px solid @bg_active;
}

#custom-os_button,
#custom-file_manager,
#custom-web_browser,
#custom-calibri {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#idle_inhibitor {
  padding: 2px;
}

#clock{
  padding-right: 10px;
  padding-left: 10px;
  background: @blue;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 15px;

}

 #clock,
 #battery,
 #pulseaudio {
   color: @bg_main;
  font-weight: 500;
}

#tray {
  margin-left: 10px;
  margin-right: 10px;
}

#battery.full {
  background: @green;
  color: @bg_main;
  font-weight: 500;
}


#battery.critical {
  background: @red;
  color: @bg_main;
}

#battery.thirty {
  background: @orange;
  color: @bg_main;
}

#battery.half {
  background: @yellow;
  color: @bg_main;
}

#pulseaudio.bluetooth{
  padding: 10px;
}

#pulseaudio{
  background: @yellow;
  color: @bg_main;
  font-weight: 500;
}