# Set Variables
Set Term = "kitty"
Set Browser = "floorp"
Set FileManager = "nemo"
Set Reader = "com.calibre_ebook.calibre"

# Task Switcher
switcher {
  interval = 500
  icons = true
  labels = true
  cols = 3
}

function("SfwbarInit") {
  SetBarId "bar-0"
  SetLayer "bottom"
}

layout{
  include("startmenu.widget")
  include("showdesktop.widget")

# Uncomment the below section if you would like a pager

#  pager {    
#    style = "pager"
#    rows = 1
#    preview = true
#    numeric = true
#  }

  button {
    style = "launcher"
    value = $Term
    action = Exec $Term
  }

  button {
    style = "launcher"
    value = $Browser
    action = Exec $Browser
  }

  button {
    style = "launcher"
    value = $FileManager
    action = Exec $FileManager
  }

  button {
    style = "launcher"
    value = $Reader
    action = Exec $Reader
  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true;}" # stretch horizontally
    icons = true
    labels = true
    group icons = true
    action[3] = Menu "winops"
    action[2] = Close
  }

  tray {
    rows = 1
  }

  # Widgets
  include("battery.widget")
  #include("battery-svg.widget")
  include("pulse-module.widget")

  grid {
    css = "* { padding-left: 5px; padding-right: 5px; }"
    label {
      value = Time("%a %d %b %l:%M %p")
      action = Exec "gsimplecal"
    }
  }

}
}

#CSS
@define-color theme_bg_color #1f1f1f;
@define-color theme_fg_color #c5c8c6;
@define-color theme_black #1d1f21;
@define-color theme_red #cc6666;
@define-color theme_greeen #b5bd68;
@define-color theme_yellow #e6c547;
@define-color theme_blue #81a2be;
@define-color theme_magenta #b294bb;
@define-color theme_cyan #70c0ba;
@define-color theme_white #c5c8c6; 

* {
  -GtkWidget-vexpand: true;
}

window#sfwbar {
  -GtkWidget-direction: top;
  background-color: @theme_bg_color;
}

grid#layout {
  -GtkWidget-direction: right;
  min-height: 30px;
}

button {
  box-shadow: none;
  border-image: none;
  background-image: none;
  background: none;
  outline-style: none;
  min-height: 20px;
  min-width: 20px;
}

menu {
  background-color: @theme_bg_color;
  border: 3px solid @theme_cyan;
  padding: 3px;
} 

menuitem {
  color: @theme_fg_color;
  padding: 2px;
}

grid {
  padding: 0px;
  margin: 0px;
}

label {
  font: 16px Paypal Sans Big;
  color: @theme_fg_color;
  text-shadow: none;
  margin: 0px 10px 0px 10px;
}

button#taskbar_normal{
  border-bottom: solid @theme_red 3px;
  border-radius: 2px;
  margin: 0px 5px 0px 5px;
  padding: 0px 20px 0px 5px;
}

button#taskbar_active {
  border-radius: 5px;
  border-bottom: solid @theme_yellow 4px;
  margin: 0px 5px 0px 5px;
  padding: 0px 20px 0px 5px;
}

button#taskbar_normal:hover{
  background-color: @theme_blue;
}

button#taskbar_active label{
  color: @theme_fg_color;
}

button#taskbar_normal:hover label{
  color: @theme_bg_color;
}

grid#taskbar_pager_active,
grid#taskbar_pager_normal {
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 4px;
  border: solid rgba(119,119,119,0.3) 1px;
}

grid#taskbar_pager_normal button,
grid#taskbar_pager_active button,
button#pager_normal,
button#pager_visible,
button#pager_focused {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  border-color: rgba(119,119,119,0);
}

button#pager_focused {
  background-color: rgba(119,119,119,0.2);
  border: none;
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}