window{
    background-image: url("/home/gin/Pictures/wallpapers/wallhaven-6k13jq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1d1f21;
}