@-moz-document url-prefix("https://")
{
	.reader-header h1.reader-title{
		font-family: 'Mozilla Headline', sans-serif !important;
		font-weight:  bold !important; 
		color: #81a2be !important;
		font-size: 2.5rem !important;
	}

	a.reader-domain, .reader-estimated-time{
		font-family: 'Source Code Pro', monospace !important;
		color: #cc6666 !important;	
		font-size: 1.3rem !important;
	}

	.reader-credits{
		font-family: 'Inter', serif !important ;
	}

	a{
		color: #f0c674 !important;
	}

	.moz-reader-content p, .moz-reader-content a {
		font-family: 'Charis SIL', serif !important ;
	}

	code{
		font-family: 'Sometype Mono', monospace !important;
	}

	body.dark{
		background-color: #1d1f21 !important ;
		color: #c5c8c6 !important;
	}
}
